@import "header.css";
@import "footer.css";
@import "home.css";
@import "product.css";
@import "add.css";
@import "edit.css";

/* base element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: ‘Roboto’, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
